<!DOCTYPE html>
<html class="loading" lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="module" src="{% static 'js/firebase.js' %}"></script>
    <script type="module" src="{% static 'js/functions.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="icon" href="{% static '' %}">
    {% block nombrePag %}{% endblock %}
</head>
<body>
    <div id="page-loader" class="page-loader">
        <div class="page-loader-panel">
            <div class="page-loader-bar"></div>
            <div class="page-loader-text">Cargando...</div>
        </div>
    </div>

    <header>
        <a href="{% url 'home' %}" class="logo">
            <div class="logo-icon"><i class="fa-solid fa-chart-line"></i></div>
            <div class="logo-text">Smart<span>Bids</span></div>
        </a>
        <nav>
            {% block nav_links %}{% endblock %}
        </nav>
        <div class="nav-buttons">
            <a id="btn-profile" href="{% url 'perfil' %}" class="btn btn-primary" style="display: none;">Perfil</a>
            {% block nav_buttons %}{% endblock %}
        </div>
    </header>


    {% block contenido %}{% endblock %}


</body>
</html>